*.ipynb_checkpoints*
.~lock.*
*__pycache__*
HUBERT_replication/*
.cache/*
cache_dir/*
datasets/*
experiments/*
*/experiments/*
models/*
wandb/*
*/wandb/*
binary_classification/runs/*
logical-fallacy/*
cards_augmented/models/*
cards_augmented/cache_dir/*
cards_augmented/wandb/*
cards_augmented/runs/*
archive/*
