*.ipynb_checkpoints*
.~lock.*
*__pycache__*
HUBERT_replication/*
.cache/*
cache_dir/*
datasets/*
experiments/*
*/experiments/*
models/*
wandb/*
*/wandb/*
binary_classification/runs/*
logical-fallacy/*
cards_augmented/runs/*
CTTs/*
SimCSE/*
Twitter_scrapped/*
cards_augmented/models/*
cards_augmented/runs/*
cards_augmented/cache_dir/*
Twitter/@Twitter_Denials_predictions_samples.csv
cards/*
logical_fallacy/*
openai-cookbook/*
